---
layout: default
---
</div>
</div>

<h4>Jeweils am Samstag um 14:00 und 16:00 Uhr <br>
(falls ein Workshop nur 1 Mal angeboten wird, wirst du das auf REBOOT erfahren)</h4>
<dl>
  {% for programm in site.data.programm.workshops %}
  <dt>{{programm.title}}</dt>
  <dd>{{programm.description}}</dd>
  {% endfor %}
</dl>
</div>

<h4>Jeweils am Sonntag um 14:00 und 16:00 Uhr <br>
(falls ein Seminar nur 1 Mal angeboten wird, wirst du das auf REBOOT erfahren)</h4>
<dl>
  {% for programm in site.data.programm.seminare %}
  <dt>{{programm.title}}</dt>
  <dd>{{programm.description}}</dd>
  {% endfor %}
</dl>
</div>

