<aside>
<nav>
<a href="http://jesusatthemotherhouse.de"><img class="logo" src="../assets/img/logo.png" /></a>
<a id="hamburger" href="#"><span></span></a>
</nav>
<ul>
    <a href="index.html"><li{% if page.url == '/index.html' %} class="active"{% endif %}><i class="mdi mdi-home"></i>Home</li></a>
    <a href="programm.html"><li{% if page.url == '/programm.html' %} class="active"{% endif %}><i class="mdi mdi-view-agenda"></i>Programm</li></a>
    <a href="message.html"><li{% if page.url == '/message.html' %} class="active"{% endif %}><i class="mdi mdi-book"></i>Message</li></a>
    <a href="pics.html"><li{% if page.url == '/pics.html' %} class="active"{% endif %}><i class="mdi mdi-film"></i>Bilder</li></a>
    <a href="chat.html"><li{% if page.url == '/chat.html' %} class="active"{% endif %}><i class="mdi mdi-comment-multipe-outline"></i>Chat</li></a>
    <a href="anmeldung.html"><li{% if page.url == '/anmeldung.html' %} class="active"{% endif %}><i class="mdi mdi-ticket-account"></i>Anmeldung</li></a>
</ul>
<footer>
&copy; EC & SGV Pfalz | <a href="impressum.html">Impressum</a>
</footer>
</aside>
