<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="assets/style.css">
    <meta name="description" content="Reboot ist ein jährliches Event für Jugendliche. Auf dem Programm stehen Message, Musik, Action, Bistro, Lagerfeuer, Feiern, mega Essen und Gemeinschaft">
    <meta name="keywords" content="Pfingsten, Jugendtreffen, Lachen-Speyerdorf, Speyerdorf, Lachen, Christlich, EC, Pfalz, Diakonissen, Mutterhaus">
    <meta name="author" content="{{site.author.name}}">
    <meta name="theme-color" content="#293330">
    {% if page.url == '/pics.html' %} <script src="assets/js/lazysizes.min.js" async=""></script>{% endif %}
</head>
<!--[if lt IE 9]>
    <p class="chromeframe">Du verwendest einen sehr <strong>veralteten</strong> Browser. Bitte <a href="http://www.whatbrowser.org/intl/de/">aktualisiere deinen Browser</a>, um die Seite bestmöglich darzustellen.</p>
<![endif]-->
