<section id="social">
  <h2>SOCIAL</h2>
  <div class="scards">
  <div class="facebook">
    <a href="https://www.facebook.com/events/1545475222238846/">
      <img src="assets/img/fb.png" alt="facebook">
      <p>Aktuelle Infos gibt's beim <u>Facebook-Event</u> </p>
    </a>
  </div>
  <div class="messenger">
    <a href="https://m.me/ecpfalzevents">
      <img src="assets/img/fm.png" alt="messenger">
      <p>Noch Fragen? <br> Schreib uns! </p>
    </a>
  </div>
  <div class="instagram">
      <img src="assets/img/insta.png" alt="instagram">
      <a target="_blank" href="https://www.instagram.com/explore/tags/thisisreboot/">#thisisreboot</a> <br>
      <a target="_blank" href="https://www.instagram.com/explore/tags/celebratereboot/">#celebratereboot</a>
  </div>
</div>
</section>