/* MaterialDesignIcons.com */
@font-face {
  font-family: 'MaterialDesignIcons';
  src: url("fonts/materialdesignicons-webfont.eot?v=1.0.08");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=1.0.08") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=1.0.08") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=1.0.08") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=1.0.08") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=1.0.08#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.mdi {
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#infos .mdi {font-size: 1.4em;}
.mdi-home::before {
  content: "\f307";
}
.mdi-view-agenda::before {
  content: "\f4b6";
}
.mdi-book::before {
  content: "\f188";
}
.mdi-film::before {
  content: "\f290";
}
.mdi-comment-multipe-outline::before {
  content: "\f20f";
}
.mdi-ticket-account::before {
  content: "\f482";
}
.mdi-information-outline::before {
  content: "\f320";
}
.mdi-xml::before {
  content: "\f4ee";
}
.mdi-information::before {
  content: "\f31f";
}
.mdi-google-maps::before {
  content: "\f2ee";
}
.mdi-facebook-box::before {
  content: "\f277";
}
