<!DOCTYPE html>
<html lang="de">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="assets/css/styles.css">
  <meta name="description" content="Reboot ist ein jährliches Event für Jugendliche. Auf dem Programm stehen Message, Musik, Action, Bistro, Lagerfeuer, Feiern, mega Essen und Gemeinschaft">
  <meta name="keywords" content="Reboot, Pfingsten, Jugendtreffen, Lachen-Speyerdorf, Speyerdorf, Lachen, Christlich, EC, Pfalz, Diakonissen, Mutterhaus">
  <meta name="author" content="EC Pfalz">
  <meta name="theme-color" content="#{{page.color}}">
</head>
<!--[if lte IE 9]>
<p class="chromeframe">Du verwendest einen sehr <strong>veralteten</strong> Browser. Bitte <a href="http://www.whatbrowser.org/intl/de/">aktualisiere deinen Browser</a>, um die Seite bestmöglich darzustellen.</p>
<![endif]-->

<body>
{{ content }}
{% include footer.html %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
<!-- Google Analytics 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38956046-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-38956046-1');
  </script>
-->
</body>
</html>